<ul class="posts">
    {% for post in posts %}
    <li>
        <div class="post-author"><a href="{{url_for('main.user',username=
        post.author.username)}}">{{post.author.username}}</a>
        <div class="post-date">{{moment(post.timestamp).fromNow()}}</div></div>
        <div>{{post.title}}</div>
        <div class="post-body">
        {% if post.body_html %}
            {{post.body_html | safe}}
        {% else %}
            {{post.body}}
        {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>