<ul class="posts">
    {% for post in posts %}
    <li>
        <div class="post-content">
        <div class="post-author"><a href="{{url_for('main.user',username=
        post.author.username)}}">{{post.author.username}}</a>
        <div class="post-date">{{moment(post.timestamp).fromNow()}}</div></div>
        <div>{{post.title}}</div>
        <div class="post-body">
        {% if post.body_html %}
            {{post.body_html | safe}}
        {% else %}
            {{post.body}}
        {% endif %}
        </div>
        </div>
        <div class="post-footer">
            <a href="{{url_for('main.post',id=post.id)}}">
                <span class="label label-default">阅读全文</span>
            </a>
            {% if current_user == post.author %}
            <a href="{{url_for('main.edit',id=post.id)}}">
                <sapn class="label label-default">编辑</sapn>
            </a>
            {% endif %}
            {% if current_user.is_administrator() %}
            <a href="{{url_for('main.edit',id=post.id)}}">
                <sapn class="label label-danger">编辑博文[管理员]</sapn>
            </a>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>