{% extends 'base.html' %}

{% block page_content %}
<link href="../static/css/screen.css" rel="stylesheet" />
    <div class="container">
        <div class="col-sm-offset-1">
            {% if current_user.can(Permission.WRITE_ARTICLES) %}
            <form class="post-content" method="post">
            {{form.hidden_tag()}}
            {{form.title.label}}<br />
            {{form.title(class='posttitle btn-large',placeholder='添加标题')}}<br />
            {{form.body.label}}
            {{form.body(class='posttext',cols="50",id="area1")}}
            <div class="publishbtn">{{form.submit(class='col-sm-offset-5 btn btn-success btn-lg')}}</div>
            </form>
            {% endif %}
        </div>
    </div>
{% block scripts %}
    <script type="text/javascript" src="../static/js/nicEdit.js"></script>
    <script type="text/javascript">
  bkLib.onDomLoaded(function() {
        new nicEditor({iconsPath : '../static/project_images/nicEditorIcons.gif',maxWidth : 400}).panelInstance('area1');
  });
  </script>
{% endblock %}
{% endblock %}
